apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app
  namespace: guyl
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flask-app
  template:
    metadata:
      labels:
        app: flask-app
    spec:
      containers:
        - name: flask
          image: falkordemo-flask:local
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"
          env:
            - name: FALKOR_HOST
              value: "falkordb"
            - name: FALKOR_PORT
              value: "6379"
            - name: GRAPH_NAME
              value: "demo"